@import url("basic.less");
.ndt-table {
	font-size: 0.9em;
	border-spacing: 0px;

	& > thead {
		tr {
			th {
				border-bottom: 2px solid #ddd;
				padding: 12px;
			}
		}
	}
	
	& > tbody {
		> tr {
			> td {
				padding: 10px;
				border-bottom: 1px solid #dfdfdf;
			}
			
			&:nth-child(even) {
				background-color: #fafafa;
			}
		}
	}
}